@tailwind base;
@tailwind components;
@tailwind utilities;


/*  */
/* DROPDOWN */
/*  */
.dropdown-content {
  display: none;
  position: absolute;
  margin-left: -8px;
  padding: 20px 0px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.grid-auto {
  grid: none;
}


/*  */
/* TOOLTIP */
/*  */
.wrapper:has(.tooltip:empty) {
  display: none;
}
.wrapper {
  position: absolute;
  }
  .wrapper .tooltip {
  bottom: 100%;
  background-color: rgb(100 116 139);
  color: #fff;
  text-align: center;
  display: block;
  left: -64px;
  margin-bottom: 1 1rem;
  opacity: 0;
  padding: 10px  1rem;
  pointer-events: none;
  position: absolute;
  width: 10rem;
  -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
     -o-transform: translateY(10px);
      transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
     -o-transition: all .25s ease-out;
      transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  }
  /* This bridges the gap so you can mouse into the tooltip without it disappearing */
  .wrapper .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
  }
  /* CSS Triangles */
  .wrapper .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid rgb(100 116 139) 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
  }
  .wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
     -o-transform: translateY(0px);
      transform: translateY(0px);
  }
  /* IE can just show/hide with no transition */
  .lte8 .wrapper .tooltip {
  display: none;
  }
  .lte8 .wrapper:hover .tooltip {
  display: block;
  }


/*  */
/* ACCORDION */
/*  */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  transition: 0.4s;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  display: none;
  overflow: hidden;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.active {
  background-color: #A09287;
}
.active-dark {
    background-color: #401F2E;
}

/* Widths for the bars couldn't work as Tailwind theme extension */
.w-10 {width:10%}
.w-15 {width:15%}
.w-20 {width:20%}
.w-25 {width:25%}
.w-30 {width:30%}
.w-35 {width:35%}
.w-40 {width:40%}
.w-45 {width:45%}
.w-50 {width:50%}
.w-55 {width:55%}
.w-60 {width:60%}
.w-65 {width:65%}
.w-70 {width:70%}
.w-75 {width:75%}
.w-80 {width:80%}
.w-85 {width:85%}
.w-90 {width:90%}
.w-95 {width:95%}
.w-100 {width:100%}


/*  */
/* TABLES */
/*  */
table {
  border:1px solid;
  padding: 1rem;
}
table th {
  border:1px solid;
  padding: 1rem;
}
table td {
  border:1px solid;
  padding: 1rem;
}

/*  */
/* LISTS */
/*  */
ul {
  padding-left: 2rem;
}
li {
  padding-top: 0.5rem;
}
