{{#with header}}
    <div class="bg-chatura-gray dark:bg-fabulous-grape text-pure-white border-pure-white">

    {{!-- Top row --}}
    <div class="flex pt-4 mx-4">

        <!-- Right icons: dark mode toggle -->
        <div class="flex-auto"></div>
        <div class="flex-none px-2 py-1 border rounded-lg dark-mode cursor-pointer hover:opacity-60">
        <i class="bx bxs-sun text-sm"></i>
        <i class="bx bx-moon text-sm"></i>      
        </div>
    </div>

    <!-- Title and subtitle -->
    <div class="mt-16 pb-24">
        <p class="text-6xl font-header mb-4">{{title}}</p>
        <p class="text-xl">{{subtitle}}</p>
    </div>

    </div>
{{/with}}